.home-item {
    display: flex;
    justify-content: center;

    .nav-link:hover {
        .card-title {
            color: var(--orange) !important;
        }
    }

    .card {
        width: 376px;
        height: 258px;
        background-color: transparent;
        background-image: url(/src/assets/background-main-bis.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
    }

    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-title {
        font-family: "palmer";
        /*color: var(--orange);*/
        font-size: 40px;
        transition: color .15s ease-in-out;
    }
}